* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 960px;
    max-width: 90%;
    margin: 0 auto;
}

.qna-block {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border: 1px solid black;
    padding: 10px 18px;
    border-radius: 20px;
    position: relative;
}

.qna-question {
    font-weight: 700;
    cursor: pointer;
    text-align: left;
    outline: none;
    border: 0;
    background-color: transparent;
    font-size: 18px;
    padding: 0;
}

.qna-answer {
    display: none;
}

.qna-edit {
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 3px;
    background-color: #eee;
    padding: 1px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.qna-edit .link + .link {
    margin-top: 3px;
}

.is-shown .qna-answer {
    display: block;
    margin-top: 7px;
    max-width: 90%;
}

.link {
    color: black;
    display: inline-block;
    transition: .3s;
}

.link:hover {
    color: blue;
}

.qna-edit .link:last-child {
    color: orangered;
}

.qna-edit .link:last-child:hover {
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-label {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 15px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    background-color: lightblue;
}